# .env.example - example environment file
# Copy this file to .env and fill in real values. Do NOT commit secrets.

WORKING_DIR=C:\Path\To\Genshin
GRM_UPGRADES=XXMI-Launcher
XXMI_DIR=C:\Path\To\Genshin\XXMI-Launcher
XXMI_LOADER=GIMI
UNLOCK_FPS_EXE=C:\Path\To\unlockfps_nc.exe
GENSHIN_EXE=C:\Path\To\Genshin Impact game\GenshinImpact.exe
NETWORK_ADAPTER_NAME=Ethernet
